<h1 align="center">
  Food Trend</h1>

<!--Form for query -->

<div class="jumbotron">
  <h2>Search for Food Trends</h2>

  <form #form="ngForm" (ngSubmit)="submitForm(form.value)">

    <div class="form-group">
      <label>Food:</label>
      <input type="text" class="form-control" placeholder="Beef" name="food" ngModel required>
    </div>

    <div class="form-group">
      <label>Within how many Months:</label>
      <input type="number" class="form-control" placeholder="2" name="months" ngModel required>
    </div>

    <div class="form-group">
      <label>Within how many Kilometres:</label>
      <input type="number" class="form-control" placeholder="20" name="km" ngModel required>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>

  </form>
</div>

<sebm-google-map [latitude]="lat" [longitude]="lng">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [markerDraggable]=true (dragEnd)="updateLocation($event)"></sebm-google-map-marker>
</sebm-google-map>

<!--Displays Forms -->
<div *ngFor="let form of foodAnalysisForms">
  <div class="panel panel-default col-med">
    <div class="panel-body">
      <div class="media">
        <div class="media-body">
          <h5>{{form.Msg}}</h5>
          <h5>{{form.food}}</h5>
          <h5>{{form.date}}</h5>
        </div>
      </div>
    </div>
  </div>

  <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>