
<h1 align="center">Food Trend Analysis</h1>

<!--Form for query -->






<!--Displays Forms -->
<div *ngFor="let form of foodAnalysisForms">
    <div class="panel panel-default col-med">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <h5>{{form.Msg}}</h5>
                    <h5>{{form.food}}</h5>
                    <h5>{{form.date}}</h5>
                </div>
            </div>
        </div>
    </div>

    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>