<h1 align= "center">{{title}}</h1>

<div align="center">
  <ul class="nav nav-pills">
    <li role="presentation" ><a href="/foodDelivery">Food & Delivery Records</a></li>
    <li role="presentation" ><a href="/fridgetemp">Refrigeration Records</a></li>
    <li role="presentation" ><a href="/temprecords">Temperature Records</a></li>
    <li role="presentation" ><a href="/hothold">Hot Holding Records</a></li>
    <li role="presentation" ><a href="/hygieneIns">Hygiene Inspection</a></li>
    <li role="presentation" ><a href="/hygieneTraining">Hygiene Training</a></li>
    <li role="presentation" ><a href="/fitnesstowork">Fitness to Work</a></li>
    <li role="presentation" ><a href="/transport">Transport & Delivery</a></li>
  </ul>
</div>

<div align="center">
  <p >Welcome {{userName}}</p>
</div>


