<h1 align= "center">Hygiene Inspection Record form</h1>

<p *ngIf="!form">There isnt any form matching id!</p>


<div *ngIf="form">
        <h4>Name:</h4>
            <h5>{{form.name}}</h5>

        <h4>Position:</h4>
            <h5>{{form.position}}</h5>

        <h4>Date:</h4>
            <h5>{{form.date}}</h5>

        <h4>Frequency:</h4>
            <h5>{{form.frequency}}</h5>

        <h4>Sign:</h4>
            <h5>{{form.finishTime}}</h5>

        <h4>Q1 Answer:</h4>
            <h5>{{form.q1}}</h5>

        <h4>Q1 Action Taken:</h4>
            <h5>{{form.action1}}</h5>
                
        <h4>Q2 Answer:</h4>
            <h5>{{form.q2}}</h5>

        <h4>Q2 Action Taken:</h4>
            <h5>{{form.action2}}</h5>
        
        <h4>Q3 Answer:</h4>
            <h5>{{form.q3}}</h5>

        <h4>Q3 Action Taken:</h4>
            <h5>{{form.action3}}</h5>
                
        <h4>Q4 Answer:</h4>
            <h5>{{form.q4}}</h5>

        <h4>Q4 Action Taken:</h4>
            <h5>{{form.action4}}</h5>
                
        <h4>Q5 Answer:</h4>
            <h5>{{form.q5}}</h5>

        <h4>Q5 Action Taken:</h4>
            <h5>{{form.action5}}</h5>
        
        <h4>Q6 Answer:</h4>
            <h5>{{form.q6}}</h5>

        <h4>Q6 Action Taken:</h4>
            <h5>{{form.action6}}</h5>
                
        <h4>Q7 Answer:</h4>
            <h5>{{form.q7}}</h5>

        <h4>Q7 Action Taken:</h4>
            <h5>{{form.action7}}</h5>
                
        <h4>Q8 Answer:</h4>
            <h5>{{form.q8}}</h5>

        <h4>Q8 Action Taken:</h4>
            <h5>{{form.action8}}</h5>

        <h4>Q9 Answer:</h4>
            <h5>{{form.q9}}</h5>

        <h4>Q9 Action Taken:</h4>
            <h5>{{form.action9}}</h5>

        <h4>Q10 Answer:</h4>
            <h5>{{form.q10}}</h5>

        <h4>Q10 Action Taken:</h4>
            <h5>{{form.action10}}</h5>	

        <h4>q11 Answer:</h4>
            <h5>{{form.q11}}</h5>

        <h4>q11 Action Taken:</h4>
            <h5>{{form.action11}}</h5>
                
        <h4>q12 Answer:</h4>
            <h5>{{form.q12}}</h5>

        <h4>q12 Action Taken:</h4>
            <h5>{{form.action12}}</h5>
        
        <h4>q13 Answer:</h4>
            <h5>{{form.q13}}</h5>

        <h4>q13 Action Taken:</h4>
            <h5>{{form.action13}}</h5>
                
        <h4>q14 Answer:</h4>
            <h5>{{form.q14}}</h5>

        <h4>q14 Action Taken:</h4>
            <h5>{{form.action14}}</h5>
                
        <h4>q15 Answer:</h4>
            <h5>{{form.q15}}</h5>

        <h4>q15 Action Taken:</h4>
            <h5>{{form.action15}}</h5>
        
        <h4>q16 Answer:</h4>
            <h5>{{form.q16}}</h5>

        <h4>q16 Action Taken:</h4>
            <h5>{{form.action16}}</h5>
                
        <h4>q17 Answer:</h4>
            <h5>{{form.q17}}</h5>

        <h4>q17 Action Taken:</h4>
            <h5>{{form.action17}}</h5>
                
        <h4>q18 Answer:</h4>
            <h5>{{form.q18}}</h5>

        <h4>q18 Action Taken:</h4>
            <h5>{{form.action18}}</h5>

        <h4>q19 Answer:</h4>
            <h5>{{form.q19}}</h5>

        <h4>q19 Action Taken:</h4>
            <h5>{{form.action19}}</h5>

        <h4>q20 Answer:</h4>
            <h5>{{form.q20}}</h5>

        <h4>q20 Action Taken:</h4>
            <h5>{{form.action20}}</h5>	
        
        <h4>q21 Answer:</h4>
            <h5>{{form.q21}}</h5>

        <h4>q21 Action Taken:</h4>
            <h5>{{form.action21}}</h5>
                
        <h4>q22 Answer:</h4>
            <h5>{{form.q22}}</h5>

        <h4>q22 Action Taken:</h4>
            <h5>{{form.action22}}</h5>
        
        <h4>q23 Answer:</h4>
            <h5>{{form.q23}}</h5>

        <h4>q23 Action Taken:</h4>
            <h5>{{form.action23}}</h5>
                
        <h4>q24 Answer:</h4>
            <h5>{{form.q24}}</h5>

        <h4>q24 Action Taken:</h4>
            <h5>{{form.action24}}</h5>
                
        <h4>q25 Answer:</h4>
            <h5>{{form.q25}}</h5>

        <h4>q25 Action Taken:</h4>
            <h5>{{form.action25}}</h5>
        
        <h4>q26 Answer:</h4>
            <h5>{{form.q26}}</h5>

        <h4>q26 Action Taken:</h4>
            <h5>{{form.action26}}</h5>
                
        <h4>q27 Answer:</h4>
            <h5>{{form.q27}}</h5>

        <h4>q27 Action Taken:</h4>
            <h5>{{form.action27}}</h5>
                
        <h4>q28 Answer:</h4>
            <h5>{{form.q28}}</h5>

        <h4>q28 Action Taken:</h4>
            <h5>{{form.action18}}</h5>

        <h4>q29 Answer:</h4>
            <h5>{{form.q29}}</h5>

        <h4>q29 Action Taken:</h4>
            <h5>{{form.action29}}</h5>

        <h4>q30 Answer:</h4>
            <h5>{{form.q30}}</h5>

        <h4>q30 Action Taken:</h4>
            <h5>{{form.action30}}</h5>	

        <h4>q31 Answer:</h4>
            <h5>{{form.q31}}</h5>

        <h4>q31 Action Taken:</h4>
            <h5>{{form.action31}}</h5>
                
        <h4>q32 Answer:</h4>
            <h5>{{form.q32}}</h5>

        <h4>q32 Action Taken:</h4>
            <h5>{{form.action32}}</h5>
        
        <h4>q33 Answer:</h4>
            <h5>{{form.q33}}</h5>

        <h4>q33 Action Taken:</h4>
            <h5>{{form.action33}}</h5>
                
        <h4>q34 Answer:</h4>
            <h5>{{form.q34}}</h5>

        <h4>q34 Action Taken:</h4>
            <h5>{{form.action34}}</h5>
                
        <h4>q35 Answer:</h4>
            <h5>{{form.q35}}</h5>

        <h4>q35 Action Taken:</h4>
            <h5>{{form.action35}}</h5>
        
        <h4>q36 Answer:</h4>
            <h5>{{form.q36}}</h5>

        <h4>q36 Action Taken:</h4>
            <h5>{{form.action36}}</h5>
                
        <h4>q37 Answer:</h4>
            <h5>{{form.q37}}</h5>

        <h4>q37 Action Taken:</h4>
            <h5>{{form.action37}}</h5>
                
        <h4>q38 Answer:</h4>
            <h5>{{form.q38}}</h5>

        <h4>q38 Action Taken:</h4>
            <h5>{{form.action18}}</h5>

        <h4>q39 Answer:</h4>
            <h5>{{form.q39}}</h5>

        <h4>q39 Action Taken:</h4>
            <h5>{{form.action39}}</h5>

        <h4>q40 Answer:</h4>
            <h5>{{form.q40}}</h5>

        <h4>q40 Action Taken:</h4>
            <h5>{{form.action40}}</h5>	

        <h4>q41 Answer:</h4>
            <h5>{{form.q41}}</h5>

        <h4>q41 Action Taken:</h4>
            <h5>{{form.action41}}</h5>
                
        <h4>q42 Answer:</h4>
            <h5>{{form.q42}}</h5>

        <h4>q42 Action Taken:</h4>
            <h5>{{form.action42}}</h5>
        
        <h4>q43 Answer:</h4>
            <h5>{{form.q43}}</h5>

        <h4>q43 Action Taken:</h4>
            <h5>{{form.action43}}</h5>
                
        <h4>q44 Answer:</h4>
            <h5>{{form.q44}}</h5>

        <h4>q44 Action Taken:</h4>
            <h5>{{form.action44}}</h5>
                
        <h4>q45 Answer:</h4>
            <h5>{{form.q45}}</h5>

        <h4>q45 Action Taken:</h4>
            <h5>{{form.action45}}</h5>
        
       

        
</div>

<button (click)="goBack()">Back</button>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>

