<h1 align="center">Settings</h1>
<!--Suppliers -->
<div *ngFor="let form of supplierForms">
    <div class="panel panel-default col-med">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <div>
                        <h3>Stored supplier settings</h3>
                    </div>
                    <h5>{{form.Supplier1}}</h5>
                    <h5>{{form.Supplier2}}</h5>
                    <h5>{{form.Supplier3}}</h5>
                    <h5>{{form.Supplier4}}</h5>
                    <h5>{{form.Supplier5}}</h5>
                    <h5>{{form.Supplier6}}</h5>
                    <h5>{{form.Supplier7}}</h5>
                    <h5>{{form.Supplier8}}</h5>
                    <h5>{{form.Supplier9}}</h5>
                    <h5>{{form.Supplier10}}</h5>
                </div>
            </div>
        </div>
    </div>

    <!--Food -->
    <div *ngFor="let form of foodForms">
        <div class="panel panel-default col-med">
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        <div>
                            <h3>Stored food settings</h3>
                        </div>
                        <h5>{{form.Food1}}</h5>
                        <h5>{{form.Food2}}</h5>
                        <h5>{{form.Food3}}</h5>
                        <h5>{{form.Food4}}</h5>
                        <h5>{{form.Food5}}</h5>
                        <h5>{{form.Food6}}</h5>
                        <h5>{{form.Food7}}</h5>
                        <h5>{{form.Food8}}</h5>
                        <h5>{{form.Food9}}</h5>
                        <h5>{{form.Food10}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <!--Fridge -->
        <div *ngFor="let form of fridgeForms">
            <div class="panel panel-default col-med">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <div>
                                <h3>Stored fridge settings</h3>
                            </div>
                            <h5>{{form.name1}}</h5>
                            <h5>{{form.name2}}</h5>
                            <h5>{{form.name3}}</h5>
                            <h5>{{form.name4}}</h5>
                            <h5>{{form.name5}}</h5>
                            <h5>{{form.name6}}</h5>
                            <h5>{{form.name7}}</h5>
                            <h5>{{form.name8}}</h5>
                            <h5>{{form.name9}}</h5>
                            <h5>{{form.name10}}</h5>
                        </div>
                    </div>
                </div>
            </div>

            <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>