<h1 align="center">Transport Record forms</h1>

<div *ngFor="let form of forms">
    <div class="panel panel-default col-med" (click)="gotoDetail(form)">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <div>
                        <h3>Transport Record form: (click here to view)</h3>
                    </div>
                    <h5>{{form.date}}</h5>
                    <h5>{{form.food}}</h5>
                    <h5>{{form.batch}}</h5>
                </div>
            </div>
        </div>
    </div>

    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>