<h1 align="center">Food Trend</h1>
<!--Form for query -->

<div class="box_div">
  <div class="jumbotron">
    <h2>Search for Food Trends</h2>

    <form #form="ngForm" (ngSubmit)="submitForm(form.value)">

      <div class="form-group">
        <label>Food:</label>
        <input type="text" class="form-control" placeholder="Beef" name="food" ngModel required>
      </div>

      <div class="form-group">
        <label>Within how many Kilometres:</label>
        <input type="number" class="form-control" placeholder="20" name="km" ngModel required>
      </div>

      <div class="form-group">
        <label>Year 1:</label>
        <input type="number" class="form-control" placeholder="2016" name="year1" ngModel required>
      </div>

      <div class="form-group">
        <label>Year 2:</label>
        <input type="number" class="form-control" placeholder="2017" name="year2" ngModel required>
      </div>

      <div class="form-group">
        <label>Month(1-12):</label>
        <input type="number" class="form-control" placeholder="1" name="month" ngModel required>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>

    </form>
  </div>
</div>

<div id="selectmap" class="box_div">
  <h2>Select your location</h2>
  <sebm-google-map [latitude]="lat" [longitude]="lng">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [markerDraggable]=true (dragEnd)="updateLocation($event)"></sebm-google-map-marker>
  </sebm-google-map>
</div>

<div id="resultsmap" class="map_div" *ngIf="barChartData">
  <h2>Results Chart</h2>

  <div style="display: block">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
      [chartType]="barChartType"></canvas>
  </div>

</div>
<div id="bottom"></div>
